<html>
    <head>
        <title>Evgekij blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Evgekij Blog</a></h1>
        </div>

        <div>
            <p>published: 25.11.2023, 23:40</p>
            <h2><a href="">My first post</a></h2>
            <p>Юдзи Итадори — сильный юноша, который ведёт заурядную жизнь старшеклассника. Однажды, чтобы спасти друзей от нападения проклятий, он съедает палец Двуликого призрака, который становится частью его души. С этого момента он делит с ним своё тело. Под присмотром Сатору Годзё, одного из сильнейших магов, Итадори поступает в магический техникум, где учат сражаться с проклятиями.</p>
        </div>

        <div>
            <p>published: 25.11.2023, 23:41</p>
            <h2><a href="">My second post</a></h2>
            <p>Новый сезон начнётся с истории про прошлое двух сильнейших магов современности Годжо Сатору и Сугуру Гэто, а продолжится аркой в районе Сибуя в котором проклятья воплотят свой план.</p>
        </div>
    </body>
</html>